<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584731844750-1v37so674q8bg7eodvkebaeufqevsmiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584731844750-1v37so674q8bg7eodvkebaeufqevsmiq</string>
	<key>API_KEY</key>
	<string>AIzaSyD1hrlvlMS4tdxsbRkMGWzvmXFHEFDdZaM</string>
	<key>GCM_SENDER_ID</key>
	<string>584731844750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itistore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>itistore-7fac4</string>
	<key>STORAGE_BUCKET</key>
	<string>itistore-7fac4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584731844750:ios:ed0b810cb1d42a2378a9df</string>
</dict>
</plist>